<!-- Banner -->
<section class="container-fluid section p-0">
  <div class="row no-gutters">
    <div class="col-12">
      <div class="owl-carousel owl-theme" data-slides="1" data-dots="true" data-nav="false">
        <div> 
          <img src="{{"/assets/images/homepage-banner.png" | relative_url}}" alt="Homepage Banner">
        </div>
        <div> 
          <img src="{{"/assets/images/homepage-banner.png" | relative_url}}" alt="Homepage Banner">
        </div>
        <div> 
          <img src="{{"/assets/images/homepage-banner.png" | relative_url}}" alt="Homepage Banner">
        </div>
        <div> 
          <img src="{{"/assets/images/homepage-banner.png" | relative_url}}" alt="Homepage Banner">
        </div>
      </div>
    </div>
  </div>
  
</section>
