<!-- Banner -->
<section class="container-fluid section p-0 banner-main">
  <div class="row no-gutters">
    <div class="col-12">
      <div class="owl-carousel owl-theme owl-carousel--banner" data-slides="1" data-dots="true" data-nav="false">
        {%- for item in (1..4) -%}
        <div class="banner-main__item"> 
          <img src="{{"/assets/images/homepage-banner.png" | relative_url}}" alt="Homepage Banner" class="banner-main__item__image">
        </div>
        {%- endfor -%}
      </div>
    </div>
  </div>
  
</section>
