<!-- Banner -->
<section class="container-fluid section p-0 banner-main">
  <div class="row no-gutters">
    <div class="col-12">
      <div class="owl-carousel owl-theme owl-carousel--banner {% if include.showtext %}owl-carousel--banner--text{% endif %}" data-slides="1" data-dots="true" data-nav="true" data-autoplay="true" data-loop="true">
        {%- for item in (1..4) -%}
        <div class="owl-carousel__item"> 
            {%- if include.showtext -%}
            <div class="owl-carousel__item__content">
              <div class="owl-carousel__item__content__item">
                <h2 class="owl-carousel__item__heading owl-carousel__item__heading--secondary">{{include.secondarytext}}</h2>
                <h2 class="owl-carousel__item__heading owl-carousel__item__heading--primary">{{include.primarytext}}</h2>
              </div>
            </div>
            {%- endif -%}
          <div class="owl-carousel__item__image">
            <img src="{{include.image | relative_url}}" alt="Homepage Banner">
          </div>
        </div>
        {%- endfor -%}
      </div>
    </div>
  </div>
</section>