<!-- Banner -->
<section class="container-fluid section p-0 banner-main">
  <div class="row no-gutters">
    <div class="col-12">
      <div class="owl-carousel owl-theme owl-carousel--banner" data-slides="1" data-dots="true" data-nav="true" data-autoplay="true" data-loop="true" data-custom-nav="true">
        {%- for item in (1..4) -%}
        <div class="owl-carousel__item  {% if include.type == 'homepage' %}owl-carousel__item--highlight{% else if include.type= 'page' %}owl-carousel__item--text{% endif %}"> 
            {%- if include.showtext -%}
            <div class="owl-carousel__item__content">
              
              <div class="owl-carousel__item__content__wrapper">
              {%- if include.type == "homepage" -%}
                <!-- Banner Logo -->
                  {%- if include.subimage -%}
                  <div class="category-grid__item__logo">
                    <img src="{{include.subimage | relative_url}}" alt="Banner Logo" class="img-fluid">
                  </div>
                  {%- endif -%}
                  <div class="owl-carousel__item__highlight">
                    <h2 class="owl-carousel__item__highlight__text">Phục vụ bạn</h2>
                    <h2 class="owl-carousel__item__highlight__text">Với cả trái tim</h2>
                  </div>
                  <h2 class="owl-carousel__item__caption">VỚI ĐẦY ĐỦ CÁC NHÓM SẢN PHẨM KHÁC NHAU</h2>
              {%- else -%}
                  <h2 class="owl-carousel__item__heading owl-carousel__item__heading--secondary">{{include.secondary_text}}</h2>
                  <h2 class="owl-carousel__item__heading owl-carousel__item__heading--primary">{{include.primary_text}}</h2>
              {%- endif -%}
              </div>
              
            </div>
            {%- endif -%}
            <div class="owl-carousel__item__image">
              <img src="{{include.image | relative_url}}" alt="Homepage Banner">
            </div>
        </div>
        {%- endfor -%}
      </div>
    </div>
  </div>
</section>