<!-- Footer -->
<div class="previous-arrow">
  <a href="#">
    <img src='{{"/assets/images/previous.svg"| relative_url}}' alt="" class="img-fluid">
  </a>
  
</div>
<div class="container-lg chat-box">
  <div class="row no-gutters">
    <div class="col-12">
      <div class="chat-box__wrapper">
        <span class="chat-box__status">
          <i class="fas fa-circle"></i>
        </span>
        <span class="chat-box__title">Chat Online</span>
      </div>
    </div>
  </div>
</div>
<footer class="footer">
  <div class="container">
    <div class="row no-gutters footer__wrapper">
      <div class="col-12 footer__logo">
        <a href='{{"index.html" | relative_url}}'>
          <img src='{{"/assets/images/logo-footer.png" | relative_url}}' alt="Logo" class="img-fluid">
        </a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row no-gutters footer__wrapper justify-content-between">
      <div class="footer__info">
        <h3 class="footer__heading">Thông tin liên hệ chung</h3>
        <ul class="footer__list">
          <li class="footer__list__item">
            Head Office: {{site.data.contact.address.head}}
          </li>
          <li class="footer__list__item">
            Rep. Office: {{site.data.contact.address.rep}}
          </li>
          <li class="footer__list__item">
             Branch: {{site.data.contact.address.branch}}
          </li>
          <li class="footer__list__item">
            Điện thoại: {{site.data.contact.phone}}
          </li>
          <li class="footer__list__item">
            Email: {{site.data.contact.email}}
          </li>
        </ul>
        <ul class="footer__social-list">
          {%- for item in site.data.contact.social -%}
          <li class="footer__social-list__item">
            <a href="#">
              <img src="{{item.icon | relative_url}}" alt="{{item.id}}" class="img-fluid">
            </a>
          </li>
          {%- endfor -%}
        </ul>
      </div>
      <div class="footer__category">
        <h3 class="footer__heading">Danh mục sản phẩm</h3>
        <ul class="footer__list footer__list--split">
          {%- for item in site.data.categories -%}
          <li class="footer__list__item">
            <a href="#">{{item.name | capitalize }}</a>
          </li>
          {%- endfor -%}
        </ul>
      </div>
      <div class="footer__map">
        <img src="{{"/assets/images/maps.png" | relative_url}}" alt="maps" class="img-fluid">
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row no-gutters footer__copyright">
      <div class="col-12 text-center">
        <span class="footer__copyright__text">Copyright © 2020 SIM.vn Company</span>
      </div>
    </div>
  </div>
</footer>
