<!-- Header -->
<header class="header">
  <div class="header__headline d-none d-lg-flex">
    <div class="container header__headline__wrapper">
      <div class="header__headline__item">
        <span class="header__headline__item__icon"><i class="fas fa-phone fa-flip-horizontal"></i></span> 
        <span class="ws-nowrap">+84 (28) 5413 3636</span>
      </div>
      <div class="header__headline__item flex-grow-1">
        <span class="header__headline__item__icon"><i class="fas fa-map-marker-alt"></i></span>
        <div class="header__headline__item__address">
          <p class="mb-0">Head Office: {{site.data.contact.address.head}} | Branch: {{site.data.contact.address.branch}}</p>
          <p class="mb-0">Rep. Office: {{site.data.contact.address.rep}}</p>
        </div>
      </div>
      <div class="header__headline__item">
        <span class="header__headline__item__icon"><i class="fas fa-envelope"></i></span>
        <span>info@simvn.biz</span>
        <a href="#"
        ><span class="header__headline__item__icon header__icon__like"></span></a>
        </span>
      </div>
      <div class="header__headline__item ws-nowrap">
        <span>Ngôn ngữ</span>
        <a href="#" class="header__headline__item__icon header__icon__lang header__icon__lang--activated" title="Tiếng Việt"><img src="{{"/assets/images/vietnam.svg" | relative_url}}" alt=""></a>
        <a href="#" class="header__headline__item__icon header__icon__lang" title="English"><img src="{{"/assets/images/united-states.svg" | relative_url}}" alt=""></a>
      </div>
    </div>
  </div>
  <div class="container-lg header__main d-none d-lg-block">
    <div class="d-flex justify-content-between header__main__wrapper">
      <div class="header__main__item">
        <a href="{{'index.html'|relative_url}}" title="Trang chủ">
          <img class="img-fluid header__logo" src='{{"/assets/images/logo.svg" | relative_url}}' alt="Logo">
        </a>
      </div>
      <div class="header__main__item flex-grow-1">
        <div class="header__searchbar">
          <form>
            <div class="input-group header__searchbar__wrapper">
              <div class="input-group-prepend">
                <select name="search-select" id="search-select" class="form-control header__searchbar__select">
                  <option value="">Tất cả thư mục</option>
                </select>
              </div>
              <input type="text" class="form-control header__searchbar__input" name="search-text" id="search-text"  placeholder="Vd: Chất ổn định bánh Baker 999; Bột nổi Baker 999;...">
            </div>
          </form>
          

        </div>
        <div class="header__main__menu">
          <!-- Navigation -->
            <nav class="header__menu">
                <ul class="header__menu__wrapper">
                  {%- for item in site.data.menu -%}
                  <li class="header__menu__item  {% if item.id == 'category' or item.subcategories %}header__menu__item--dropdown{% endif %}">
                    <a class="header__menu__item__text {% if item.id == layout.id %}header__menu__item__text--activated{% endif %}" href="#">
                      {{item.name}}
                    </a>
                    {% if item.id == 'category' or item.subcategories %}
                    <ul class="header__dropdown header__dropdown--lv1">
                      {%- for item in site.data.categories -%}
                      <li class="header__dropdown__item {% if item.subcategories %} header__dropdown__item--dropdown{% endif %}" >
                        <a class="header__dropdown__item__text" href="/category.html">{{item.name | capitalize }}
                          {% if item.subcategories %}
                            <ul class="header__dropdown header__dropdown--lv2">
                              {%- for item in item.subcategories -%}
                              <li class="header__dropdown__item">
                                <a href="#" class="header__dropdown__item__text">{{item.name | capitalize }}</a>
                              </li>
                              {%- endfor -%}
                            </ul>
                          {% endif %}
                        </a>
                      </li>
                      {%- endfor -%}
                    </ul>
                    {% endif %}
                  </li>
                  {%- endfor -%}
                </ul>
            </nav>
        </div>
      </div>
      <div class="header__main__item">
          <button class="btn btn-search ws-nowrap" title="Tìm kiếm">Tìm kiếm</button>
      </div>
    </div>
  </div>
  <div class="container-fluid header__mobile d-lg-none">
    <div class="header__mobile">
      <div class="header__mobile__wrapper">
        <div class="header__mobile__item">
          <a href="{{'index.html'|relative_url}}" title="Trang chủ">
            <img class="img-fluid header__logo" src='{{"/assets/images/logo.svg" | relative_url}}' alt="Logo">
          </a>
        </div>
        <div class="header__mobile__item">
          <button class="navbar-toggler header__mobile__toggle" type="button" data-toggle="collapse" data-target="#header-mobile-dropdown" aria-controls="header-mobile-dropdown" aria-expanded="false" aria-label="Toggle navigation" title="Menu">
            <i class="fa fa-bars"></i>
          </button>
        </div>
      </div>
      <div class="header__mobile__collapse collapse" id="header-mobile-dropdown">
        <!-- Marker if the menu is shown, work with intersection observer -->
        <div class="header__mobile__collapse__marker"></div>
        <!-- End of Marker -->
        <div class="header__mobile__collapse__wrapper">
          <!-- Header Navigation -->
          <nav class="header__mobile__menu">
              <ul class="header__mobile__menu__wrapper">
                {%- for item in site.data.menu -%}
                {%- assign firstIndex = forloop.index -%}
                <li class="header__mobile__menu__item  {% if item.id == 'category' or item.subcategories %}header__mobile__menu__item--dropdown{% endif %}">
                  {% if item.id == 'category' or item.subcategories %}
                  <a class="header__mobile__menu__item__text {% if item.id == layout.id %}header__mobile__menu__item__text--activated{% endif %}" href="" data-toggle="collapse" data-target="#dropdown-mobile-{{firstIndex}}" aria-controls="dropdown-mobile-{{firstIndex}}" aria-expanded="false" aria-label="Dropdown Menu">
                    {{item.name}}
                  </a>
                  <ul class="header__mobile__dropdown collapse" id="dropdown-mobile-{{firstIndex}}">
                    {%- for item in site.data.categories -%}
                    {%- assign secondIndex = forloop.index -%}
                    <li class="header__mobile__dropdown__item {% if item.subcategories %} header__mobile__dropdown__item--dropdown{% endif %}" >
                      {% if item.subcategories %}
                      <a class="header__mobile__dropdown__item__text" href="" data-toggle="collapse" data-target="#dropdown-mobile-{{firstIndex}}-{{secondIndex}}" aria-controls="dropdown-mobile-{{firstIndex}}-{{secondIndex}}" aria-expanded="false" aria-label="Dropdown Menu">{{item.name | capitalize }}</a>
                      <ul class="header__mobile__dropdown collapse" id="dropdown-mobile-{{firstIndex}}-{{secondIndex}}">
                        {%- for item in item.subcategories -%}
                        <li class="header__mobile__dropdown__item">
                          <a href="#" class="header__mobile__dropdown__item__text">{{item.name | capitalize }}</a>
                        </li>
                        {%- endfor -%}
                      </ul>
                      {% else %}
                      <a class="header__mobile__dropdown__item__text" href="#">{{item.name | capitalize }}</a>
                      {% endif %}
                    </li>
                    {%- endfor -%}
                  </ul>
                  {% else %}
                  <a class="header__mobile__menu__item__text {% if item.id == layout.id %}header__mobile__menu__item__text--activated{% endif %}" href="#">
                    {{item.name}}
                  </a>
                  {% endif %}
                </li>
                {%- endfor -%}
              </ul>
          </nav>
          <div class="header__searchbar header__mobile__searchbar">
            <form>
              <div class="input-group header__searchbar__wrapper">
                <div class="input-group-prepend">
                  <select name="search-select" id="search-select" class="form-control header__searchbar__select">
                    <option value="">Tất cả thư mục</option>
                  </select>
                </div>
                <input type="text" class="form-control header__searchbar__input" name="search-text" id="search-text"  placeholder="Vd: Chất ổn định bánh Baker 999; Bột nổi Baker 999;...">
              </div>
            </form>
            

          </div>
          <div class="header__mobile__content">
            <div class="header__mobile__content__item">
              <span class="header__mobile__content__item__text">Yêu thích</span>
              <a href="#"
              ><span class="header__mobile__content__item__icon header__icon__like"></span></a>
              </span>
            </div>
            <div class="header__mobile__content__item">
              <span class="header__mobile__content__item__text">Ngôn ngữ</span>
              <a href="#" class="header__mobile__content__item__icon header__icon__lang header__icon__lang--activated" title="Tiếng Việt"><img src="{{"/assets/images/vietnam.svg" | relative_url}}" alt=""></a>
              <a href="#" class="header__mobile__content__item__icon header__icon__lang" title="English"><img src="{{"/assets/images/united-states.svg" | relative_url}}" alt=""></a>
            </div>
          </div>
          <div class="header__mobile__info">
            <h3 class="header__mobile__heading">Thông tin liên hệ</h3>
            <hr class="header__mobile__breakline"/>
            <ul class="header__mobile__list">
              <li class="header__mobile__list__item">
                <span class="header__mobile__list__item__icon">
                  <i class="fas fa-map-marker-alt"></i>
                </span>
                <span class="header__mobile__list__item__text">
                  Head Office: {{site.data.contact.address.head}}
                </span>
              </li>
              <li class="header__mobile__list__item">
                <span class="header__mobile__list__item__icon">
                  <i class="fas fa-map-marker-alt"></i>
                </span>
                <span class="header__mobile__list__item__text">
                  Rep. Office: {{site.data.contact.address.rep}}
                </span>
              </li>
              <li class="header__mobile__list__item">
                <span class="header__mobile__list__item__icon">
                  <i class="fas fa-map-marker-alt"></i>
                </span>
                <span class="header__mobile__list__item__text">
                  Branch: {{site.data.contact.address.branch}}
                </span>
              </li>
              <li class="header__mobile__list__item">
                <span class="header__mobile__list__item__icon">
                  <i class="fas fa-phone fa-flip-horizontal"></i>
                </span>
                <span class="header__mobile__list__item__text">
                  Điện thoại: {{site.data.contact.phone}}
                </span>
              </li>
              <li class="header__mobile__list__item">
                <span class="header__mobile__list__item__icon">
                  <i class="fas fa-envelope"></i>
                </span>
                <span class="header__mobile__list__item__text">
                  Email: {{site.data.contact.email}}
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>