<!-- Header -->
<header class="header">
  <div class="header__headline d-none d-lg-flex">
    <div class="container header__headline__wrapper">
      <div class="header__headline__item">
        <span class="header__headline__item__icon"><i class="fas fa-phone fa-flip-horizontal"></i></span> 
        <span class="ws-nowrap">+84 (28) 5413 3636</span>
      </div>
      <div class="header__headline__item flex-grow-1">
        <span class="header__headline__item__icon"><i class="fas fa-map-marker-alt"></i></span>
        <div class="header__headline__item__address">
          <p class="mb-0">Head Office: {{site.data.contact.address.head}} | Branch: {{site.data.contact.address.branch}}</p>
          <p class="mb-0">Rep. Office: {{site.data.contact.address.rep}}</p>
        </div>
      </div>
      <div class="header__headline__item">
        <span class="header__headline__item__icon"><i class="fas fa-envelope"></i></span>
        <span>info@simvn.biz</span>
        <a href="#"
        ><span class="header__headline__item__icon header__headline__item__like"></span></a>
        </span>
      </div>
      <div class="header__headline__item ws-nowrap">
        <span>Ngôn ngữ</span>
        <a href="#" class="header__headline__item__icon header__headline__item__lang header__headline__item__lang--activated"><img src="{{"/assets/images/vietnam.svg" | relative_url}}" alt=""></a>
        <a href="#" class="header__headline__item__icon header__headline__item__lang"><img src="{{"/assets/images/united-states.svg" | relative_url}}" alt=""></a>
      </div>
    </div>
  </div>
  <div class="container-fluid container-lg header__main">
    <div class="d-none d-lg-flex justify-content-between header__main__wrapper">
      <div class="header__main__item">
        <img class="img img-fluid" src="{{"/assets/images/logo.svg" | relative_url}}" alt="Logo">
      </div>
      <div class="header__main__item flex-grow-1">
        <div class="header__searchbar">
          <form>
            <div class="input-group header__searchbar__wrapper">
              <div class="input-group-prepend">
                <select name="search-select" id="search-select" class="form-control header__searchbar__select">
                  <option value="">Tất cả thư mục</option>
                </select>
              </div>
              <input type="text" class="form-control header__searchbar__input" name="search-text" id="search-text" aria-describedby="basic-addon3" placeholder="Vd: Chất ổn định bánh Baker 999; Bột nổi Baker 999;...">
            </div>
          </form>
          

        </div>
        <div class="header__main__menu">
          <!-- Navigation -->
            <nav class="header__menu">
                <ul class="header__menu__wrapper">
                  {%- for item in site.data.menu -%}
                  <li class="header__menu__item  {% if item.id == 'category' or item.subcategories %}header__menu__item--dropdown{% endif %}">
                    <a class="header__menu__item__text {% if item.id == layout.id %}header__menu__item__text--activated{% endif %}" href="#">
                      {{item.name}}
                    </a>
                    {% if item.id == 'category' or item.subcategories %}
                    <ul class="header__dropdown header__dropdown--lv1">
                      {%- for item in site.data.categories -%}
                      <li class="header__dropdown__item {% if item.subcategories %} header__dropdown__item--dropdown{% endif %}" >
                        <a class="header__dropdown__item__text" href="#">{{item.name}}
                          {% if item.subcategories %}
                            <ul class="header__dropdown header__dropdown--lv2">
                              {%- for item in item.subcategories -%}
                              <li class="header__dropdown__item">
                                <a href="#" class="header__dropdown__item__text">{{item.name}}</a>
                              </li>
                              {%- endfor -%}
                            </ul>
                          {% endif %}
                        </a>
                      </li>
                      {%- endfor -%}
                    </ul>
                    {% endif %}
                  </li>
                  {%- endfor -%}
                </ul>
            </nav>
        </div>
      </div>
      <div class="header__main__item">
          <button class="btn btn-search ws-nowrap">Tìm kiếm</button>
      </div>
    </div>
    <nav class="navbar header__main__wrapper header__main__wrapper--mobile d-lg-none">
      <div class="header__main__item">
        <img class="img img-fluid" src="{{"/assets/images/logo.svg" | relative_url}}" alt="Logo">
      </div>
      <div class="header__main__item">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa fa-bars"></i>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <div class="header__main__menu">
          <!-- Navigation -->
            <nav class="header__menu header__menu--mobile">
                <ul class="header__menu__wrapper">
                  {%- for item in site.data.menu -%}
                  <li class="header__menu__item  {% if item.id == 'category' or item.subcategories %}header__menu__item--dropdown{% endif %}">
                    <a class="header__menu__item__text {% if item.id == layout.id %}header__menu__item__text--activated{% endif %}" href="#">
                      {{item.name}}
                    </a>
                    {% if item.id == 'category' or item.subcategories %}
                    <ul class="header__dropdown header__dropdown--lv1">
                      {%- for item in site.data.categories -%}
                      <li class="header__dropdown__item {% if item.subcategories %} header__dropdown__item--dropdown{% endif %}" >
                        <a class="header__dropdown__item__text" href="#">{{item.name}}
                          {% if item.subcategories %}
                            <ul class="header__dropdown header__dropdown--lv2">
                              {%- for item in item.subcategories -%}
                              <li class="header__dropdown__item">
                                <a href="#" class="header__dropdown__item__text">{{item.name}}</a>
                              </li>
                              {%- endfor -%}
                            </ul>
                          {% endif %}
                        </a>
                      </li>
                      {%- endfor -%}
                    </ul>
                    {% endif %}
                  </li>
                  {%- endfor -%}
                </ul>
            </nav>
        </div>
        <div class="header__searchbar">
          <form>
            <div class="input-group header__searchbar__wrapper">
              <div class="input-group-prepend">
                <select name="search-select" id="search-select" class="form-control header__searchbar__select">
                  <option value="">Tất cả thư mục</option>
                </select>
              </div>
              <input type="text" class="form-control header__searchbar__input" name="search-text" id="search-text" aria-describedby="basic-addon3" placeholder="Vd: Chất ổn định bánh Baker 999; Bột nổi Baker 999;...">
            </div>
          </form>
          

        </div>
      </div>
  </nav>
  </div>
  
</header>