---
layout: default
id: category
filter:
  - Giá từ cao đến thấp
  - Giá từ thấp đến cao
  - Sản phẩm từ A -> Z
  - Sản phẩm từ Z -> A
---

<!-- Banner -->
{%- include commons/banner.html showtext=true secondarytext="NGUYÊN LIỆU ĐÍCH THỰC" primarytext="CHO SỨC KHOẺ KHÁCH HÀNG" image="/assets/images/banner-02.png"-%}
<!-- Path -->
<div class="container category-path">
  <div class="category-path__wrapper">
    <div class="category-path__item">
      <span class="category-path__content">SẢN PHẨM / SỮA, KEM, YOGURT</span>
    </div>
  </div>
</div>
<!-- Filter -->
<div class="container category-filter">
    <!-- <div class="dropdown category-filter__dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Tất cả thư mục
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        {%- for item in layout.filter -%}
        <li><a href="#" onclick="">{{item}}</a></li>  
        {%- endfor -%}
      </ul>
    </div> -->
    <form>
      <select name="category-filter" id="category-filter" class="form-control select-customized category-filter__select">
        <option value="">Tất cả thư mục</option>
        {%- for item in layout.filter -%}
        <option value="{{forloop.index}}">{{item}}</option>  
        {%- endfor -%}
      </select>
    </form>
</div>
<!-- Company Information -->
<section class="container section product-list">
  <div class="row no-gutters">
    <div class="col-12">
          <h1 class="section__title">SỮA, KEM, YOGURT</h1>
    </div>
  </div>
  <div class="row  product-list__wrapper">
    {%- for item in site.data.products -%}
      <div class="col-12 col-sm-4 col-lg-2 product-list__item">
          <div class="product-list__item__wrapper">
            <div class="product-list__item__image">
              <img src="{{item.image | relative_url}}" alt="{{item.name}}" class="img-fluid">
            </div>
            <h3 class="product-list__item__title">{{item.name}}</h3>
            <div class="product-list__item__footer">
              <button class="btn btn-view">
                Xem thêm
              </button>
              <div class="product-list__item__action">
                <a href="#" class="product-list__item__action__icon">
                  <i class="fas fa-shopping-cart"></i>
                </a>
                <a href="#" class="product-list__item__action__icon">
                  <i class="fas fa-heart"></i>
                </a>
              </div>
            </div>
          </div>
      </div>
    {%- endfor -%}
  </div>
</section>