---
layout: default
id: category
filter:
  - Giá từ cao đến thấp
  - Giá từ thấp đến cao
  - Sản phẩm từ A -> Z
  - Sản phẩm từ Z -> A
---

<!-- Banner -->
{%- include commons/banner.html showtext=true type="page" secondary_text="NGUYÊN LIỆU ĐÍCH THỰC" primary_text="CHO SỨC KHOẺ KHÁCH HÀNG" image="/assets/images/banner-02.png"-%}
<!-- Path -->
<section class="section container category-path">
  <div class="category-path__wrapper">
    <div class="category-path__item">
      <a href="{{'category.html' | absolute_url}}" class="category-path__content">SẢN PHẨM</a>
      <a href="" class="category-path__content">/ SỮA, KEM, YOGURT</a>
    </div>
    <!-- Filter on Mobile -->
    <div class="category-path__item d-block d-md-none">
      <div class="category-filter--mobile">
        <form>
          <select name="category-filter" class="form-control select-customized category-filter__select">
            <option value="">Tất cả thư mục</option>
            {%- for item in layout.filter -%}
            <option value="{{forloop.index}}">{{item}}</option>  
            {%- endfor -%}
          </select>
        </form>
      </div>
      
    </div>
  </div>
</section>
<!-- Categry Header -->
<section class="container section category-header mb-0">
  <div class="category-header__wrapper">
    <!-- Filter on Web -->
    <div class="category-header__item flex-grow-1 d-none d-md-block">
      <div class="category-filter">
        <form>
          <select name="category-filter" class="form-control select-customized category-filter__select">
            <option value="">Tất cả thư mục</option>
            {%- for item in layout.filter -%}
            <option value="{{forloop.index}}">{{item}}</option>  
            {%- endfor -%}
          </select>
        </form>
      </div>
    </div>
    <div class="category-header__item flex-grow-1 d-flex flex-column justify-content-start">
      <h1 class="section__title mb-0">SỮA, KEM, YOGURT</h1>
    </div>
    <!-- A reserved fake block for centering the heading text-->
    <div class="category-header__item flex-grow-1 d-none d-md-block"></div>
  </div>
  <div class="row d-flex d-lg-block">
    <div class="col-12">
      <div class="section__content">
        <p>Kem sữa chua hay còn gọi là sữa chua đông lạnh (Frozen yogurt) là một món tráng miệng đông lạnh được làm từ sữa chua và đôi khi là các sản phẩm từ sữa (chế phẩm sữa) và không phải sữa khác.</p>
        </div>
    </div>
  </div>
</section>
<!-- Products List -->
<section class="container section product-list">  
  <div class="row  product-list__wrapper">
    {%- for item in site.data.products -%}
      <div class="col-12 col-md-4 col-lg-3 col-xl-2 product-list__item">
          <div class="product-list__item__wrapper">
            <div class="product-list__item__image">
              <a href="{{'product.html' | absolute_url}}">
                <img src="{{item.image | absolute_url}}" alt="{{item.name}}" class="img-fluid lazyload">
              </a>
            </div>
            <div class="product-list__item__content">
              <h3 class="product-list__item__title"><a href="{{'product.html' | absolute_url}}">{{item.name}}</a></h3>
              <div class="product-list__item__review d-none d-md-flex">
                {%- for item in (1..5) -%}
                  <span class="product-list__item__review__star">
                    {%- if forloop.index < 4 -%} 
                    <i class="fas fa-star"></i>
                    {%- else -%}
                      {%- if forloop.index == 4 -%}
                      <i class="fas fa-star-half-alt"></i>
                      {%- else -%}
                      <i class="far fa-star"></i>
                      {% endif %}
                    {%- endif -%}
                  </span>
                {%- endfor -%}
                <span class="product-list__item__review__text">12</span>
              </div>
              <div class="product-list__item__footer">
                <a href="{{'product.html' | absolute_url}}" class="btn btn-view" title="Xem thêm">
                  Xem thêm
                </a>
                <div class="product-list__item__action">
                  <a href="#" class="product-list__item__action__icon" title="Thêm vào giỏ hàng">
                    <i class="fas fa-shopping-cart"></i>
                  </a>
                  <a href="#" class="product-list__item__action__icon {% if forloop.index == 1%}product-list__item__action__icon--activated{%endif%}" title="Yêu thích">
                    <i class="far fa-heart"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
      </div>
    {%- endfor -%}
  </div>
  <div class="row no-gutters category-paging">
    <div class="paging-list m-auto">
      <ul class="paging-list__wrapper">
        {%- for item in (1..11) -%}
          {%- if forloop.index <= 4 or forloop.index == 11-%}
          <li class="paging-list__item {%if forloop.index == 1%}paging-list__item--activated{% endif%}">
            <a href="#" class="paging-list__item__text" title="{% if forloop.index < 4 or forloop.index == 11 %}Page {{forloop.index}}{% else %}...{% endif %}">
              {%- if forloop.index == 4-%}
              ...
              {%- else -%}
              {{forloop.index}}
              {%- endif -%}
            </a>
          </li>
          {%- endif -%}
        {%- endfor -%}
      </ul>
    </div>
  </div>
</section>