---
layout: default
id: home
---

<!-- Homepage Banner -->
{%- include commons/banner.html image="/assets/images/banner-01.png"-%}

<!-- Category Grid -->
<section class="container section category-grid">
    <div class="row not-gutters">
      <div class="col-12">
            <h2 class="section__title">NHÓM SẢN PHẨM CHÍNH</h2>
            <div class="section__content">
              <p>Công ty S.I.M.VN sẵn sàng cung cấp các loại nguyên liệu, phụ gia thực phẩm, hóa chất... theo nhu cầu của khách hàng. Chúng tôi luôn cập nhật theo xu thế và sự phát triển của thế giới.</p>
            </div>
      </div>
    </div>
    
    <div class="row no-gutters category-grid__wrapper d-none d-md-flex">
      {%- for item in site.data.categories -%}
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 category-grid__item">
          <div class="category-grid__item__image">
            <img src="{{item.image | relative_url}}" alt="{{item.name}}">
          </div>
          <div class="category-grid__item__content">
            <div class="category-grid__item__title">{{item.name}}</div>
            <div class="category-grid__item__text">
                <span><i class="fas fa-user"></i> {{item.contact.name}}</span>
                <span><i class="fas fa-phone fa-flip-horizontal"></i> {{item.contact.phone}}</span>
                <span><i class="fas fa-envelope"></i> {{item.contact.name}}</span>
            </div>
            <div class="category-grid__item__action">
              <a href="#" class="btn">Xem thêm</a>
            </div>
          </div>
      </div>
      {%- endfor -%}
    </div>
    <div class="row no-gutters d-flex d-md-none category-list__wrapper">
        {%- for item in site.data.categories -%}
        <a href="onclick:showCategoryPopup();" class="col-12 category-list__item">
            <div class="category-list__item__wrapper">
                <div class="category-list__item__image">
                    <img src="{{item.image | relative_url}}" alt="{{item.name}}">
                </div>
                <div class="category-list__item__content">
                    <h4 class="category-list__item__title">{{item.name}}</h4>
                </div>
            </div>
        </a>
        {%- endfor -%}
    </div>
</section>  
<!-- Company Information -->
<section class="container-fluid section company-info">
    <div class="container">
        <div class="row no-gutters">
        <div class="col-12">
                <h2 class="section__title">GIỚI THIỆU VỀ CÔNG TY</h2>
                <div class="section__content">
                <p>Với hơn 20 năm kinh nghiệm, Công Ty Cổ Phần S.I.M. VN luôn sẵn sàng phục vụ tận tâm, vì sức khoẻ cộng đồng đáp ứng nhu cầu của khách hàng một cách hoàn hảo, cam kết mang lại lợi ích cao nhất cho khách hàng.
                </p>
                </div>
        </div>
        </div>
        
        <div class="row company-info__wrapper">
            {%- for item in site.data.information -%}
            <div class="col-12 col-md-4 company-info__item">
                <div class="company-info__item__image">
                    <img class="img-fluid" src="{{item.image | relative_url}}" alt="{{item.name}}">
                </div> 
                <div class="company-info__item__wrapper">
                    <div class="company-info__item__icon">
                        <img class="img-fluid" src="{{item.icon | relative_url}}" alt="{{item.name}}">
                    </div>
                    <h3 class="company-info__item__title {{item.style}}">
                        {{item.name}}
                    </h3>
                    <div class="company-info__item__content">
                        <p>{{item.content}}</p>
                    </div>
                </div>
            </div>
            {%- endfor -%}
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <button class="btn btn-view">Xem thêm</button>
            </div>
        </div>
    </div>
</section>  
<!-- Partners Logo -->
<section class="container-fluid section partner-slides">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-12">
                    <h2 class="section__title">ĐỐI TÁC CHIẾN LƯỢC - NHÀ CUNG CẤP ĐỘC QUYỀN</h2>
                    <div class="section__content">
                    <p>SIM là nhà cung cấp chiến lược, lâu dài và uy tín của hầu hết các nhà sản xuất đầu ngành trong mọi lãnh vực chế biến thực phẩm , dược phẩm,  thức ăn gia súc.
                    </p>
                    </div>
            </div>
        </div>
        <div class="row no-gutters partner-slides__wrapper">
            <div class="col-12">
                <div class="owl-carousel owl-theme" data-slides="4" data-slides-mobile="2" data-nav="true" data-dots="true" data-loop="true">
                    {%- for item in site.data.partners -%}
                        <div class="partner-slides__item">
                            <img src="{{item | relative_url}}" alt="Partner" class="img-fluid">
                        </div>
                    {%- endfor -%}
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container section testimonial">
    <div class="row no-gutters">
        <div class="col-12">
            <h2 class="section__title">CẢM NGHĨ CỦA ĐỐI TÁC VỀ S.I.M VN</h2>
        </div>
    </div>
    {%- for item in site.data.testimonials -%}
    <div class="row no-gutters testimonial__item">
        <div class="col-12 col-md-6 testimonial__item__image">
            <img src="{{item.image|relative_url}}" alt="{{item.title}}" class="img-fluid">
        </div>
        <div class="col-12 col-md-6 testimonial__item__content">
            <h3 class="testimonial__item__title">"{{item.title}}"</h3>
            <h4 class="testimonial__item__author">{{item.author}}</h4>
            <hr class="testimonial__item__breakline"/>
            <p class="testimonial__item__text">{{item.content}}</p>
            <p class="testimonial__item__author--small">{{item.author}}</p>
        </div>
    </div>
    {%- endfor -%}
    
</section>