---
layout: default
id: product
product:
  title: DARK CHOCOLATE COMPOUND
  code: SLD- 2501-SB
  content:
    - "Giới thiệu tóm tắt: Dạng rắn, màu nâu đen, mùi vị đặc trưng của chocolate"
    - "Ứng dụng: Được sử dụng rộng rãi trong chế biến và trang trí bánh kẹo, thực phẩm"
    - "Quy cách đóng gói: Thùng 18 - 25kg"
    - "Xuất xứ: Singapore"
  contact:
    name: Mr. Nguyen Van A
    email: sua.kem.yogurt@sim.vn
    phone: 0909 123 123
  image: /assets/images/thumbnail-00.png  
  thumbnails:
    - /assets/images/thumbnail-01.png
    - /assets/images/thumbnail-02.png
    - /assets/images/thumbnail-03.png
    - /assets/images/thumbnail-04.png
---

<!-- Banner -->
{%- include commons/banner.html showtext=true type="page" secondary_text="DARK Chocolate Compound" primary_text="HƯƠNG VỊ CHOCOLATE ĐÍCH THỰC" image="/assets/images/banner-03.png"-%}
<!-- Path -->
<section class="section container category-path">
  <div class="category-path__wrapper">
    <div class="category-path__item">
      <a href="{{'category.html' | relative_url}}" class="category-path__content">SẢN PHẨM</a>
      <a href="{{'category.html' | relative_url}}" class="category-path__content">/ SỮA, KEM, YOGURT</a>
      <a href="{{'category.html' | relative_url}}" class="category-path__content">/ DARK CHOCOLATE COMPOUND SLD- 2501-SB</a>
    </div>
  </div>
</section>
<!-- Product Detail -->
<section class="section container product-detail">
  <div class="product-detail__wrapper">
    <div class="product-detail__item product-detail__gallery flex-grow-1">
      <div class="product-detail__image">
        <a href="#" class="img-zoom">
          <img src='{{layout.product.image | relative_url}}' alt="{{layout.product.title}}" class="img-fluid lazyload">
        </a>
      </div>
      <ul class="product-detail__thumbnails">
        {%- for item in  layout.product.thumbnails-%}
        {%- if forloop.index <= 4 -%}
        <li class="product-detail__thumbnails__item">
          <a href="{{item | relative_url}}" data-fancybox="gallery">
            <img src="{{item | relative_url}}" alt="" class="img-fluid lazyload product-detail__thumbnails__item__image">
            {%- if forloop.index ==4 -%}
              <div class="product-detail__thumbnails__item__text">
                <span>+ 3</span>
              </div>  
            {%- endif -%}
          </a>
        </li>
        {%- endif -%}
        {%- endfor -%}
      </ul>
    </div>
    <div class="product-detail__item product-detail__content flex-grow-1">
      <div class="product-detail__heading">
        <h1 class="product-detail__title">{{layout.product.title}}</h1>
        <a href="#" class="product-detail__favorite" title="Yêu thích">
          <span class="fa-stack fa-2x">
            <i class="far fa-circle fa-stack-2x"></i>
            <i class="far fa-heart fa-stack-1x"></i>
          </span>
        </a>
      </div>
      
      <hr class="product-detail__breakline"/>
      <p class="product-detail__caption">Mã sản phẩm: {{layout.product.code}}</p>
      <ul class="product-detail__list">
        <!-- Detail -->
        {%- for item in layout.product.content -%}
        <li class="product-detail__list__item">
          <span class="product-detail__list__item__icon">
            <i class="fas fa-check-circle"></i>
          </span>
          <span class="product-detail__list__item__text">{{item}}</span>
        </li>
        {%- endfor -%}
        <!-- Contact -->
        <li class="product-detail__list__item">
          <span class="product-detail__list__item__icon">
            <i class="fas fa-check-circle"></i>
          </span>
          <span class="product-detail__list__item__text">Thông tin liên hệ</span>
          <ul class="product-detail__contact">
            <!-- Name -->
            <li class="product-detail__contact__item">
              <span class="product-detail__contact__item__icon"><i class="fas fa-user"></i></span>
              <span  class="product-detail__contact__item__text">{{layout.product.contact.name}}</span>
            </li>
            <!-- Email -->
            <li class="product-detail__contact__item">
              <span class="product-detail__contact__item__icon"><i class="fas fa-envelope"></i></span>
              <span  class="product-detail__contact__item__text">{{layout.product.contact.email}}</span>
            </li>
            <!-- Phone -->
            <li class="product-detail__contact__item">
              <span class="product-detail__contact__item__icon"><i class="fas fa-phone fa-flip-horizontal"></i></span>
              <span  class="product-detail__contact__item__text">{{layout.product.contact.phone}}</span>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="product-detail__item product-detail__category flex-shrink-1 d-none d-lg-block">
      <ul class="list-category__wrapper">
        <h3 class="list-category__heading">DANH MỤC</h3>
        {%- for item in site.data.categories -%}
        <li class="list-category__item {% if forloop.index == 1%}list-category__item--activated{% endif %}">
          <a class="list-category__item__text" href="{{'category.html' | relative_url}}">{{item.name | capitalize }}</a>
        </li>
        {%- endfor -%}
      </ul>
    </div>
  </div>
</section>
<!-- Products Suggestion -->
<section class="section container product-suggestion">
  <div class="row">
    <div class="col-12">
      <h3 class="section__title">CÁC SẢN PHẨM KHÁC THUỘC NHÓM <span class="text-peach-two">SỮA, KEM & YOGURT</span></h3>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      {%- include commons/slider.html slides=6 slides_tablet=4 slides_mobile=3 type='normal'-%}
    </div>
  </div>
</section>